.main_app {
  height: 80vh;
  width: 0%;
  // border: 1px solid black;
  @include flexAll;
  flex-direction: column;
  justify-content: start;
  font-family: "Poppins", sans-serif;
  padding: 0px;
  gap: 20px;
  overflow: hidden;
  transition: 0.5s;

  @include cp {
    //  position: absolute;
    width: 95vw;
  }

  .chatbox {
    height: 80%;
    // width: 100%;
    //background-color: #22577a;
    background-color: #e0e8ed;
    border-radius: 10px;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .chatss {
      list-style: none;
      @include flexAll;
      flex-direction: column;
      width: 100%;
      //background-color: #704e4e;

      gap: 20px;
      padding: 20px 70px;

      @include cp {
        width: 100vw;
        padding: 10px 70px;
        background-color: white;
      }

      .listC {
        //background: #c7f9cc;
        width: 200px;
        font-size: 0.8rem;
        border-radius: 20px;
        max-width: 200px;
        padding: 10px;

        @include cp {
          max-width: 500px;
        }

        &:nth-child(even) {
          margin-left: -30px;
          background-color: #57cc99;
          position: relative;

          &::after {
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: absolute;
            background-color: #57cc99;
            left: -20px;
            bottom: 0;
          }
        }

        &:nth-child(odd) {
          margin-right: -30px;
          background-color: #80ed99;
          position: relative;

          &::after {
            content: "";
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: absolute;
            background-color: #80ed99;
            right: -20px;
            bottom: 0;
          }
        }
      }

      .anchor {
        width: 100%;
        height: 10px;
        background-color: #00ff4c;
      }
    }
  }

  .sending {
    width: 100%;
    @include flexAll;
    position: relative;

    input {
      width: 20%;
      font-family: "Poppins", sans-serif;
      height: 40px;
      border-radius: 20px;
      border: none;
      background-color: #c3dabe;
      font-size: 1rem;
      padding: 0px 10px;
      transition: 0.4s;
      min-width: 100px;

      &:focus {
        width: 75%;
        outline: 1px solid #00ff4c;
        margin-right: 10px;
      }

      &:focus ~ label {
        transform: scale(1);
      }
    }

    label {
      position: absolute;
      transition: 0.25s;
      top: -50%;
      left: 20px;
      font-size: 0.7rem;
      overflow: hidden;
      color: green;
      transform: scale(0);
      @include typing;
    }

    button {
      width: 20%;
      height: 100%;
      border-radius: 20px;
      font-family: "Poppins", sans-serif;
      background-color: #22577a;

      border: none;

      a {
        color: #c7f9cc;
        text-decoration: none;
      }
    }
  }
}
