@import "./_reset";
@import "./__var.scss";
@import "./nav.scss";
@import "./mainapp.scss";
@import "./mainlogo.scss";

body {
  height: 100vh;
  @include flexAll;
  font-family: "Poppins" sans-serif;
  align-items: end;
  justify-content: left;

  @include cp {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: auto;
    flex: auto;
    flex-wrap: wrap-reverse;
    padding-top: 100px;
  }
}

.gone {
  padding: 70px;
  width: 50%;
}
